.yt {
  background: url(./components/images/download.jpg);
  cursor: pointer;
  width: 60%;
  height: 400px;
  background-repeat: no-repeat;
  margin: 30px;
  padding: 40px;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba (255, 0, 0, 0);
}
